<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css" />
    <link rel="stylesheet" href="./css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>

    <title>Tripadvisor Restaurants</title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="app">
            <div class="form-group fundo-branco" id="form" v-if="seen">
                <h2>Insira uma url de um restaurante do site Tripadvisor:</h2>
                <input type="text" class="form-control" id="url" name="url" v-model="url" aria-describedby="url" placeholder="Digite aqui a URL">
                <small id="urlHelp" class="form-text">Ex: https://www.tripadvisor.com.br/Restaurant_Review-g303628-d4201091-Reviews-Mirai_Japanese_Food-Sao_Jose_Do_Rio_Preto_State_of_Sao_Paulo.html <button class="btn btn-success btn-sm seta" @click="fillRestaurant">Preencher &uarr;</button></small>

                    <br />
            <button type="submit" class="btn btn-success btn-block" @click="getRestaurant" v-on:click="seen = !seen" id="enviar" :disabled="url == ''">Enviar</button>
            </div>

            <div class="restaurant fundo-branco" v-if="!seen" v-cloak>
                <div class="nome">
                    <h1>{{ nome }}</h1>
                </div>
                <div class="telefone">
                    <p>{{ telefone }}</p>
                </div>
                <div class="reviews">
                    <p>{{ reviews }}</p>
                </div>
                <div class="imagens">
                    <div v-for="imagem in imagens">
                        <img :alt="nome" :src="imagem" class="image">
                    </div>
                </div>
                <div class="status">
                    <p>{{ status }}</p>
                </div>
                <div>
                    <button class="btn btn-success btn-block" @click="clearRestaurant" v-on:click="seen = !seen">Pesquisar outro restaurante</button>
                </div>


            </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="./js/main.js"> </script>
</body>
</html>